:root {
  /* sizes */
  --height: 2.5rem;
  --bar-margin-y: 0.4rem;
  --bar-margin-x: 1.25rem;

  /* fonts */
  --font-family: "FiraCode Nerd Font", Roboto, Helvetica, Arial, sans-serif;
  --font-size: 16px;
  --font-weight: 500;

  /* border */
  --border-size: 0.125rem;
  --radius: 0.25rem;

  /* shadow */
  --shadow-size-bar: 0.25rem;
  --shadow-size-button: 0.125rem;

  /* colors */
  --text: var(--ctp-mocha-text);
  --bg: var(--ctp-mocha-surface0);
  --border: var(--ctp-mocha-crust);
  --border-button: var(--ctp-mocha-crust);
  --shadow: var(--ctp-mocha-mantle);
  --icon: var(--ctp-mocha-red);
  --memory: var(--ctp-mocha-mauve);
  --cpu: var(--ctp-mocha-pink);
  --cpu-high-usage: var(--ctp-mocha-red);
  --battery-good: var(--ctp-mocha-green);
  --battery-mid: var(--ctp-mocha-peach);
  --battery-low: var(--ctp-mocha-red);
  --focused-process: var(--ctp-mocha-text);
  --process: var(--ctp-mocha-surface2);
  --displayed: var(--ctp-mocha-text);
  --ws-1: var(--ctp-mocha-peach);
  --ws-2: var(--ctp-mocha-red);
  --ws-3: var(--ctp-mocha-green);
  --ws-4: var(--ctp-mocha-blue);
  --ws-5: var(--ctp-mocha-mauve);
  --tiling-direction: var(--ctp-mocha-lavender);
  --not-playing: var(--ctp-mocha-red);
  --now-playing: var(--ctp-mocha-green);
  --network: var(--ctp-mocha-text);
  --weather: var(--ctp-mocha-text);
}
